[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
python-speech-features = "*"
scipy = "*"
numpy = "1.21"
pandas = "*"
librosa = "*"
matplotlib = "*"
sklearn = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
